.login {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.login-sidebar {
  position: absolute;
  left: 0;
  height: 100vh;
  background-color: black;
  width: 15%;
  color: white;
}

.login-sidebar > img {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}

.login-sidebar .icon-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: gray;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 200ms color ease-in;
}

.login-sidebar .icon-container:hover {
  color: white;
}

.login-sidebar .icon {
  margin-right: 10px;
  margin-left: 10px;
}

.login-header {
  background-color: black;
  height: 5vh;
  margin-left: 15%;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.login-header .header-icon {
  margin-left: 15px;
  font-size: 20px;
}

.login-header .login-header-right {
  margin-right: 30px;
  text-decoration: none;
}

.login-header .sign-up {
  margin-right: 40px;
  text-decoration: none;
}

.login-header .log-in {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.login-body {
  margin-left: 15%;
  height: 89vh;
  background: linear-gradient(rgb(86, 67, 196), rgba(0, 0, 0, 1));
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.login-body > h1 {
  font-size: 50px;
  display: inline;
  width: 70%;
  margin: auto;
  margin-top: 80px;
  background-image: linear-gradient(
    to right,
    rgb(91, 199, 96),
    rgb(192, 189, 33)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  letter-spacing: 3px;
  margin-bottom: 50px;
  transition: all 0.5s;
}

/* .login-body > h1:hover {
  transform: skewY(5deg) skewX(7deg);
} */

.login-body > h1 .signUpText {
  display: block;
  font-size: 30px;
  letter-spacing: 0px;
  margin-top: 20px;
}

.login-body > span {
  background-image: linear-gradient(
    to right,
    rgb(42, 211, 112),
    rgb(207, 205, 54)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 80%;
  right: 25%;
  font-size: 30px;
}
