.sidebar {
  height: 85vh;
  position: fixed;
  left: 0%;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 500px;

  min-width: 200px;
  width: 15%;
  background-color: hsl(0, 0%, 2%);
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 3px;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.sidebar-logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}

.sidebar-title {
  margin-left: 10px;
  padding: 5px;
  font-size: 15px;
}

.sidebar > hr {
  border: 0.5px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebar-playlist::-webkit-scrollbar {
  width: 10px;
  color: gray;
}
.sidebar-playlist > p {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  overflow-y: overlay;
  color: grey;
}

.sidebar-playlist > p:hover {
  color: white;
}

.fnsIcon {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: grey;
  transition: 200ms color ease-in;
}

.fnsIcon:hover {
  color: white;
}

.fnsIcon .icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-link {
  text-decoration: none !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
}
